* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    font-size: 14px;
}

#country-heading {
    padding: 2rem 4rem;
    font-size: 3rem;
}

#countries-container {
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
}
.country-container {
    width:20%;
    padding:2rem 3rem;
    margin:1rem 1rem;
    font-weight: 500;
}

.country-container p {
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}

.country-container img {
    max-width: 80%;
    padding: 1.5rem 0.5rem;
}

#search-box-container {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

#search-box-container input{
    border: none;
    border-bottom: 1px solid brown;
    font-size: 2.5rem;
}

#country-search-btn {
    background-color: blue;
    color:white;
    font-size: 2rem;
    padding: 0.5rem;
    border:none;
    border-radius: 8px;
}
#footer-container {
    padding:2rem 6rem;
    background-color: black;
    color:white;
    font-size: 2rem;
    text-align: center;
}